<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc" />
          <element id="jpa-descriptors" facet="springmvc/jpa/JPA" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-web:3.2.11.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>